name: backend test

on:
  workflow_dispatch:


jobs:
  start:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up node 24
      uses: actions/setup-node@v6
      with:
        node-version: 24
    - name: Install dependencies
      run: cd backend && npm ci
    - name: running the code
      run: cd backend && npm run dev &
      env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          PORT: ${{ secrets.PORT }}
    - name: test
      run: |
        for i in {1..10}; do
          curl -s http://localhost:3000/api | grep -q 'hello' && exit 0
          sleep 2
        done
        exit 1