name: backend test

on:
  workflow_dispatch:


jobs:
  start:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up node 24
      uses: actions/setup-node@v6
      with:
        node-version: 24
    - name: Install dependencies
      run: cd backend && npm ci
    - name: running the code
      run: cd backend && npm run dev
      env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          PORT: ${{ secrets.PORT }}
    - name: test
      run: |
        sleep 5
        curl -s http://localhost:3000/api | grep -q 'hello'